* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 7, 44);
  color: white;
}

.form-con {
  margin: auto;
  width: 40%;
  margin-top: 15%;
  padding: 10px;
  border: 2px solid whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.Reg-form {
  padding: 50px;
}

input {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 8px;
}

button {
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

h4 a {
  color: white;
  font-size: 20px;
}
